*.DS_Store
*.iml
.idea
target
src/main/resources/cedi/.classpath
src/main/resources/cedi/.project
src/main/resources/cedi/.settings/org.eclipse.core.resources.prefs
src/main/resources/reports/cedi/.classpath
src/main/resources/reports/cedi/.project
*.prefs
.classpath
.factorypath
.project
